<!DOCTYPE html>
<html>
<head>
	<title>Hamdar E-Doctor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section id="bar" class="bar">
	<div class="bg-color">
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/"><img src="img/Hamdard.png" class="img-responsive" style="height: 50px; width:90px; margin-top: 0+px;"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	      	<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Signup<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/pratitionersignup">Practitioner</a></li>
					<li><a href="/doctorsignup">Doctor</a></li>
				</ul>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="banner-text" id="banner-text" >
					<img src="img/Hamdard.png"><br>
					<h1>Healthcare at your desk!!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="/login" class="btn btn-success"><strong>Practitioner</strong></a>
					<a href="/login" class="btn btn-success"><strong>Doctor</strong></a>
				</div>
			</div>
			<!-- <div class="col-md-2"></div>	 -->
		</div>	
	</div>
	</div>
</section>
<section id="service" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h2>Our Service</h2>
				<hr class="botm-line">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-stethoscope"></i>
					</div>
					<div class="icon-info">
						<h4>24 Hour Support</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-ambulance"></i>
					</div>
					<div class="icon-info">
						<h4>Emergency Services</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-user-md"></i>
					</div>
					<div class="icon-info">
						<h4>Medical Counseling</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="service-info">
					<div class="icon">
						<i class="fa fa-medkit"></i>
					</div>
					<div class="icon-info">
						<h4>Premium Healthcare</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<section id="cta-1" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="schedule-tab">
    			<div class="col-md-4 col-sm-4 bor-left">
    				<div class="mt-boxy-color"></div>
	    			<div class="medi-info">
		    			<h3>Emergency Case</h3>
						<p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="#" class="medi-info-btn">READ MORE</a>
					</div>
    			</div>
				<div class="col-md-4 col-sm-4">
					<div class="medi-info">
		    			<h3>Emergency Case</h3>
						<p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="#" class="medi-info-btn">READ MORE</a>	
					</div>
				</div>
				<div class="col-md-4 col-sm-4 mt-boxy-3">
					<div class="mt-boxy-color"></div>
					<div class="time-info">
		    			<h3>Opening Hours</h3>
						<table style="margin: 8px 0px 0px;" border="1">
							<tbody>
								<tr>
									<td>Monday - Friday</td>
									<td>8.00 - 17.00</td>
								</tr>
								<tr>
									<td>Saturday</td>
									<td>9.30 - 17.30</td>
								</tr>
								<tr>
									<td>Sunday</td>
									<td>9.30 - 15.00</td>
								</tr>
							</tbody>
						</table>				    		
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
		<section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line">About us</h2>
			          <hr class="botm-line">
			          <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
			          <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
			          </div>
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
                        </div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
<section id="foo" class="foo">
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>	
</body>
</html>