<!doctype html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Hamdard OPC</title>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<title>O'Reilly Introduction to WebRTC</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
		<section id="banner" class="banner">
			<div class="bg-color">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-3" ></div>
						<div class="col-sm-6" 
						style="
						/*border: 2px #006400 solid;*/ margin-top: 50px;
						"
						>
							<div class="chatbox" id="chatbox"  style="" >
								<h1>Hamdard Chat-Box</h1>
								<div id="chat-window">
									<div id="output"></div>
								</div>
					            <input id="handle" type="text" placeholder="User name" />
					            <input id="message" type="text" placeholder="Message" />
					            <button id="send"><strong>Send</strong> </button>
					            <button id="myBtn"> <strong>Vedio Call</strong></button>
							</div>
						</div>
						<div class="col-sm-3"></div>
					</div>
		        </div>	
			</div>
				
		</section>
		<section>
		</section>
		<footer id="footer">
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 marb20">
								<div class="ftr-tle">
									<h4 class="white no-padding">About Us</h4>
								</div>
								<div class="info-sec">
									<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
								</div>
						</div>
						<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">Quick Links</h4>
							</div>
							<div class="info-sec">
								<ul class="quick-info">
									<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
									<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
									<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-line">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							© Copyright Hamdard University
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script>
			var myName = document.querySelector("#handle");
			var myMessage = document.querySelector("#message");
			var sendMessage = document.querySelector("#send");
			var chatArea = document.querySelector("#output");
			var Vedio = document.querySelector("#myBtn");
			var ROOM = "chat3";
			var SIGNAL_ROOM = "signal_room3";
			
			
			io = io.connect();
			io.emit('ready', {"chat_room": ROOM, "signal_room": SIGNAL_ROOM});
			
			io.on('announce', function(data) {
				displayMessage(data.message);
			});
			
			io.on('message', function(data) {
				displayMessage(data.author + ": " + data.message);
			});

			io.on('window', function(data) {
				window.open("http://localhost:3000/video?q=3", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
			});
			
			// io.on('window', function(data) {
			// 	window.open("http://localhost:3000/video?q=2", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
			// });
			sendMessage.addEventListener('click', function(ev){
				io.emit('send', {"author":myName.value, "message":myMessage.value, "room":ROOM});
				ev.preventDefault();
			}, false);
			
			Vedio.addEventListener('click', function(ev){

				io.emit('win', {"author":myName.value, "message":"open new window on client", "room":ROOM});
				 window.open("http://localhost:3000/video?q=3", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");

				 // window.open("http://localhost:3000/video?peer_id=2", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
				ev.preventDefault();
			}, false);

			function displayMessage(message) {
				chatArea.innerHTML = chatArea.innerHTML + "<br/>" + message;
			}
			
		</script>

	    <script src="js/jquery.min.js"></script>
	    <script src="js/jquery.easing.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/custom.js"></script>
	</body>
</html>