<!DOCTYPE html>
<html>
<head>
	<title>Hamdar E-Doctor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section id="patient-bar" class="patient-bar">
	<!-- <div class="bg-color" id="bg-color" ></div> -->
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/"><img src="img/Hamdard.png" class="img-responsive" style="height: 50px; width:90px; margin-top: 0+px;"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</section>

<section id="doctor-team" class="doctor-team">
	<div class="container-fluid" >
		<div class="row" >
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div class="container-fluid">
					<div class="jumbotron">
						<h1>Welcome <%= user.username %></h1> 
						<p>
							It's a profession that may be considered a special mission, a devotion. It calls for involvement, respect and willingness to help all other people.
						</p>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading"><h3 style="font-weight: bold;" >Dignosis Form</h3></div>
						<div class="panel-body">
							<form class="form-horizontal" action="/doctorcategory" method="GET" >
								<div class="form-group">
									<label class="control-label col-sm-3" for="patage">Age:</label>
									<div class="col-sm-7">
										<input required type="text" class="form-control" id="patage" placeholder="Enter Patient Age" name="patage" value="" >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="pattemp">Temperature:</label>
									<div class="col-sm-7">
										<input required type="number" class="form-control" id="pattemp" placeholder="Enter Patient Temperature" name="pattemp" value="" >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="patblood1">Bload Pressure:</label>
									<div class="col-sm-2">
										<input required type="number" class="form-control" id="patblood1" name="patblood1" value="" >
									</div>
									<div class="col-sm-1">
										__
									</div>
									<div class="col-sm-2" align="left" >
										<input required type="number" class="form-control" id="patblood2" name="patblood2" value="" >
									</div>
									<div class="col-sm-4"></div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-sm-3" for="patsugar1">Sugar Level:</label>
									<div class="col-sm-2">
										<input required type="number" class="form-control" id="patsugar1" name="patsugar1" value="" >
									</div>
									<div class="col-sm-1">
										__
									</div>
									<div class="col-sm-2" align="left" >
										<input required type="number" class="form-control" id="patsugar2" name="patsugar2" value="" >
									</div>
									<div class="col-sm-4"></div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="patpluse">Pluse Rate:</label>
									<div class="col-sm-7">
										<input required type="number" class="form-control" id="patpluse" placeholder="Enter Patient Pluse Rate" name="patpluse" value="" >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="patO2">O2 Level:</label>
									<div class="col-sm-7">
										<input required type="number" class="form-control" id="patO2" placeholder="Enter Patient O2 Level" name="patO2" value="" >
									</div>
								</div>
								<div id="addremove" class="col-sm-offset-3 col-sm-7">
									<button id="btn-copy" class="btn btn-success" style="font-size: 16px;" >Submit</button>
									<!-- <button id="btn-dele" class="btn btn-danger">Remove</button> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="cat" id="cat">
					<a href="/patienthistory" style="font-size: 20px;" ><span class="glyphicon glyphicon-folder-open"></span> Patient History</a>
					<br><br>
					<a href="/patienthistory" style="font-size: 20px;" ><span class="glyphicon glyphicon-folder-open"></span> Patient History</a>
				</div>
			</div>
		</div>	
	</div>
	
</section>
<section id="foo" class="foo">
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>
<script>
	
</script>
</body>
</html>