
body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}
.navbar-brand img {
    padding-top: 2px;
    padding-left: -500px;
    width: 90px !important;
}
.navbar-default {   
    padding: 20px 0;
    background-color: transparent;
    border: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color:  #006400;
    text-transform: uppercase;
    background-color: RGBA(204,255,153,0.41);
}
.navbar-default .navbar-nav > li > a
{
    color: #006400;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}
.top-nav-collapse {
    padding: 0; 
    background: rgba(28,74,90, 0.9);
}
#banner{
    margin-top: 0px;
    background: url('../img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 900px;
    position: relative;
}
.bg-color{
    background-color: RGBA(204,255,153,0.4);
    min-height: 900px;
}

#chatbox h1{
    color:  #006400 ;
    /*padding-bottom: 20px;*/
/*border-bottom: 2px #006400 solid;    */
}

#chatbox{
border: 2px #006400 solid    
}

#chat-window{
    border-top: 2px #006400 solid;
    border-bottom:2px #006400 solid; 
    /*border: 2px #006400 solid;*/
    height: 400px;
    overflow: auto;
    background: #f9f9f9;

}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

.chatbox label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

.chatbox input{
    border-bottom:2px #006400 solid;
    padding: 10px 20px;
    box-sizing: border-box;
    /*background: red;*/
    /*border: 2px #006400 solid;*/
    display: block;
    width: 100%;
    /*background: red;*/
    /*border-bottom: 1px solid #006400;*/
    font-family: Nunito;
    font-size: 20px;
}

.chatbox button{
    border-bottom:2px #006400 solid;
    background: rgb(46,139,87);
    color: #006400;
    font-size: 20px;
    font-weight: bold;
    /*border: 2px #006400 solid;*/
    padding: 12px 0;
    width: 100%;
    /*border-radius: 0 0 2px 2px;*/
}

/***************************************
footer
***************************************/

#footer{
    background-color: #325C6A;
}
.ftr-tle {
    height: 50px;
}
.info-sec {
    color: #fff;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #fff;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}
@media (min-width: 551px) and (max-width: 980px){

}
@media (min-width: 220px) and (max-width: 551px){
    .testi-info{
        margin-bottom: 20px;
    }
    .marb20{
        margin-top: 30px;
    }
    h2{
        font-size: 24px;
        line-height: 1.2;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
    }
    .service-info{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .caption h3 {
    font-size: 14px;
    }
    .caption p{
    font-size: 12px;
    padding-bottom: 5px;
    }
    .caption ul li a i{
        font-size: 14px;
    }
    .banner-text h1{
        font-size: 24px;
    }
}

